<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>365商城 </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <!--<link rel="icon" type="image/png" href="__ROOT__/Public/Home/theme/default/__ROOT__/Public/Home/images/favicon.png">-->
        <link href="__ROOT__/Public/Home/css/amazeui.min.css" rel="stylesheet" type="text/css" />
        <link href="__ROOT__/Public/Home/css/style.css" rel="stylesheet" type="text/css" />
        <script src="__ROOT__/Public/Home/js/jquery-1.10.2.min.js"></script>
        <!--<script src="__ROOT__/Public/Home/js/time.js"></script>-->

    </head>
    <body>
<!--图片轮换-->
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0" style="position: relative;">
    <!-- <header data-am-widget="header" class="am-header am-header-default tm-head" id="shortbar" >
            <div class="am-header-left am-header-nav">
                <a href="city.html" class="">
                    <img src="__ROOT__/Public/Home/images/city.png" />
                    <p style="font-size: 12px; margin-top: -35px;">南昌</p>
                </a>
           </div>
            <h1 class="am-header-title1">
                <div class="search-box">
                   <input type="text" name="title" class="index-search" placeholder="寻找你喜欢的商品......" />
                   <input type="submit" value="" class="search-icon" />
                </div>
            </h1>
            <div class="am-header-right am-header-nav">

                <a href="" class="">
                   <img src="__ROOT__/Public/Home/images/sao.png" />
                   <p style="font-size: 12px; margin-top: -35px;">扫一扫</p>
                </a>
            </div>
        </header> -->
  <ul class="am-slides">
    <li><a href=""><img src="http://df.cqyuyan.cn/_2019-01-24_5c49ca4330f86.png" /></a></li>
    <li><a href=""><img src="http://df.cqyuyan.cn/_2019-01-24_5c49ca4330f86.png" /></a></li>
    <li><a href=""><img src="http://df.cqyuyan.cn/_2019-01-24_5c49ca4330f86.png" /></a></li>
    <li><a href=""><img src="http://df.cqyuyan.cn/_2019-01-24_5c49ca4330f86.png" /></a></li>
  </ul>
</div>
<!--导航-->
 <ul class="sq-nav"  >
      <li>
        <div class="am-gallery-item">
            <a href="/index.php/Home/Product/specialprice/id/1" class="">
              <img src="__ROOT__/Public/Home/images/icon.png" />
              <p>新品</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="/index.php/Home/Product/specialprice/id/2" class="">
              <img src="__ROOT__/Public/Home/images/icon1.png" />
              <p>特价</p>
            </a>
        </div>
      </li>

     <!--  <li>
        <div class="am-gallery-item">
            <a href="reserve.html" class="">
              <img src="__ROOT__/Public/Home/images/icon2.png" />
              <p>预定</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="integral.html" class="">
              <img src="__ROOT__/Public/Home/images/icon3.png" />
              <p>积分</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="allchips.html" class="">
              <img src="__ROOT__/Public/Home/images/icon4.png" />
              <p>众筹</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="whitebar.html" class="">
              <img src="__ROOT__/Public/Home/images/icon5.png" />
              <p>白条</p>
            </a>
        </div>
      </li> -->
      <li>
        <div class="am-gallery-item">
            <a href="/index.php/Home/Shop/shoplist" class="">
              <img src="__ROOT__/Public/Home/images/icon6.png" />
              <p>店铺</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="/index.php/Home/Product/lists" class="">
              <img src="__ROOT__/Public/Home/images/icon7.png" />
              <p>商品</p>
            </a>
        </div>
      </li>
  </ul>
 <!--限时秒杀 -->
 <div class="sq-title">
    <i class="am-icon-volume-up"></i>
    <div class="fnTimeCountDown" data-end="2018/07/08 18:45:13">
                   推荐商品：限时抢购啦...
      <!--   <span class="hour">00</span>
        <strong>:</strong>
        <span class="mini">00</span>
        <strong>:</strong>
        <span class="sec">00</span> -->
    </div>
    <script type="text/javascript">
//    $(".fnTimeCountDown").fnTimeCountDown("2018/07/08 18:45:13");
    </script>
 </div>
  <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  >
      <foreach name="prolist" item='v'>
      <if condition="$v.istui eq 1">
            <li>
              <div class="am-gallery-item">
                  <a href="/index.php/Home/Product/detail/id/{$v.id}" class="">
                    <img src="{$v.pic}"  style="max-height: 130px;">
                      <h3 class="am-gallery-title">{$v.name}</h3>
                      <div class="am-gallery-desc">￥{$v.price}</div>
                  </a>
              </div>
            </li>
       </if>
      </foreach>
  </ul>
 <!-- 特色专区-->
  <div class="sq-title">
    <img src="__ROOT__/Public/Home/images/ts.png" width="24"/>
    特色专区
 </div>
  <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  >
     <foreach name="prolist" item='v'>
      <if condition="$v.iste eq 1">
            <li>
              <div class="am-gallery-item">
                  <a href="/index.php/Home/Product/detail/id/{$v.id}" class="">
                    <img src="{$v.pic}"  style="max-height: 130px;">
                      <h3 class="am-gallery-title">{$v.name}</h3>
                      <div class="am-gallery-desc">￥{$v.price}</div>
                  </a>
              </div>
            </li>
       </if>
      </foreach>

  </ul>
  <!-- 精品专区-->
  <div class="sq-title">
    <img src="__ROOT__/Public/Home/images/jp.png" width="24"/>
    精品专区
 </div>
  <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  >
     <foreach name="prolist" item='v'>
      <if condition="$v.isjing eq 1">
            <li>
              <div class="am-gallery-item">
                  <a href="/index.php/Home/Product/detail/id/{$v.id}" class="">
                    <img src="{$v.pic}"  style="max-height: 130px;">
                      <h3 class="am-gallery-title">{$v.name}</h3>
                      <div class="am-gallery-desc">￥{$v.price}</div>
                  </a>
              </div>
            </li>
       </if>
      </foreach>
  </ul>
  <!-- 便民-->
  <div class="sq-title">
    <img src="__ROOT__/Public/Home/images/bm.png" width="24"/>
    推荐商家
 </div>
 <ul class="yule">
     <foreach name="shoplist" item='v'>
        <li>
            <a href="/index.php/Home/Shop/shopvisit/shopid/{$v.id}">
                <img src="{$v.pic}">
                <div style="width: 70%; float: left;">
                <h3 class="title">{$v.shopname}</h3>
                <p class="intro">{$v.intro}</p>
                </div>
            </a>
        </li>
     </foreach>
 </ul>
 <!--底部-->
 <include file="Common/footer" />

<script src="__ROOT__/Public/Home/js/jquery.min.js"></script>
<script src="__ROOT__/Public/Home/js/amazeui.min.js"></script>
    </body>
</html>
