<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>55社区 </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
		<link href="__ROOT__/Public/Home/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="__ROOT__/Public/Home/css/style.css" rel="stylesheet" type="text/css" />
		<script src="__ROOT__/Public/Home/js/area.js"></script>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">新增收货地址</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
		<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
	    <ul class="address">
	    	<li>
	    		<span>收货人：</span>
	    		<input type="text" name="name" class="add-input" />
	    	</li>
	    	<li>
	    		<span>手&nbsp;&nbsp;&nbsp;机：</span>
	    		<input type="text" name="tel" class="add-input" />
	    	</li>
	    	<li>
	    		<span>省份：</span>
	    		<select  name="province" id="province" class="add-input"></select>
	    	</li>
	    	<li>
	    		<span>城市：</span>
	    		<select  name="city" id="city" class="add-input"></select>
	    	</li>
	    	<li>
	    		<span>区/县：</span>
	    		<select  name="county" id="county" class="add-input"></select>
	    	</li>

	    	<li>
	    		<span>详细地址：</span>
	    		<textarea  class="add-select"  name="addr" rows="" cols=""></textarea>
	    	</li>
	    </ul>
	    <input type="submit" class="login-btn" value="确认提交">
		</form>
	    <script type="text/javascript">_init_area();</script>
	</body>
</html>
