<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>365商城 </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/__ROOT__/Public/Home/images/favicon.png">
		<link href="__ROOT__/Public/Home/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="__ROOT__/Public/Home/css/style.css" rel="stylesheet" type="text/css" />
		<script src="__ROOT__/Public/Home/js/jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">商品列表</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <ul class="list-nav">
	    <!-- 	<li class="current"><a href="">综合</a></li>
	    	<li><a href="">销量</a></li>
	    	<li><a href=""><i class="list-price">价格</i></li>
	    	<li><a href="">新品</a></li> -->
	    </ul>
		<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
	    <ul class="list-pro">
	    	<foreach name="res" item='v'>
	    	<li>
	    		<a href="/index.php/Home/Product/detail/id/{$v.id}"><img src="{$v.pic}" class="list-pic" /></a>
	    		<div class="shop-list-mid" style="width: 65%;">
                	<div class="tit"><a href="/index.php/Home/Product/detail/id/{$v.id}">{$v.name}</a></div>
                	<div class="am-gallery-desc" data="{$v.price}">￥{$v.price}</div>
                	<p>销量：{$v.salenum}件</p>
                </div>
                <div class="list-cart">
	                <div class="d-stock ">
			                <a class="decrease"  data="{$v.price}">-</a>
			                <input id="num" readonly="" class="text_box" name="{$v.id}" type="text" value="0">
			                <a class="increase" data="{$v.price}" >+</a>
	                </div>
                </div>
                <!--<a href="" class="list-cart"><img src="__ROOT__/Public/Home/images/cart.png" width="30"/></a>-->
	    	</li>
	    	</foreach>
	    	
	    </ul>
	   <div class="fix-bot">
	   	 <!-- <div class="fix-bot-cart"> <i>8</i> </div>-->
	   	  <!--<a href="tureorder.html" class="list-js">去结算</a>-->
		   <input type="submit" value="去结算" class="list-js" >
	   	  <div class="js-text">
            	<p ><b >￥ <span class="allprice">0</span></b></p>
            	<p class="js-car"></p>
          </div>
	   </div>
		</form>
<script src="__ROOT__/Public/Home/js/jquery.min.js"></script>
<script src="__ROOT__/Public/Home/js/amazeui.min.js"></script>
<script>
//购物数量加减
$(function(){
		$('.increase').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			current_num += 1;
			if(current_num > 0){
				self.siblings(".decrease").fadeIn();
				self.siblings(".text_box").fadeIn();
			}
			self.siblings('input').val(current_num);
			var nowllprice = $('.allprice').text();
		    var  newaiiprice =Number(nowllprice) + Number(self.attr("data"));
			$('.allprice').html(newaiiprice);
		})		
		$('.decrease').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			if(current_num > 0){
				current_num -= 1;
                if(current_num < 1){
	                self.fadeOut();
					self.siblings(".text_box").fadeOut();
                }
				self.siblings('input').val(current_num);
				nowllprice = $('.allprice').text();
                console.log(self.attr("data")	);
				newaiiprice =Number(nowllprice) - Number(self.attr("data"));
                $('.allprice').html(newaiiprice);
			}
		})
	})

</script>

	</body>
</html>
