<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>365商城 </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/theme/default/__ROOT__/Public/Home/images/favicon.png">
		<link href="__ROOT__/Public/Home/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="__ROOT__/Public/Home/css/style.css" rel="stylesheet" type="text/css" />
		<script src="__ROOT__/Public/Home/js/jquery-1.10.2.min.js"></script>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="/index.php/Home/Index/index" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">购物车</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>

        <if condition="$res[0] eq null">
            <!--购物车空的状态-->
            <div class="login-logo">
                <!--<img src="__ROOT__/Public/Home/images/logo.png">-->
                <p>亲、您的购物车还是空空的哦，快去装满它!</p>
                <a href="/index.php/Home/Index/index" class="goshopping">前去逛逛</a>
                <div style="height: 10px; background: #eee;"></div>
            </div>
            <else/>
            <ul class="shopcart-list">
                <foreach name="res" item='v'>
                    <li>
                        <!--<label class="am-checkbox am-warning">-->
                            <!--<input type="checkbox" checked="checked" value="" data-am-ucheck checked>-->
                        <!--</label>-->
                        <a href="/index.php/Home/Product/detail/id/{$v.productid}"><img src="{$v.pic}" class="shop-pic" /></a>
                        <div class="shop-list-mid">
                            <div class="tit"><a href="/index.php/Home/Product/detail/id/{$v.productid}">{$v.name}</a></div>
                            <div class="d-stock">
                                <a class="decrease" data="{$v.price}">-</a>
                                <input id="num" readonly="" class="text_box" name="" type="text" value="{$v.num}">
                                <a class="increase" data="{$v.price}">+</a>
                            </div>
                        </div>
                        <b class="shop-list-price">￥{$v.price} </b>
                        <div class="del"><a href="/index.php/Home/Product/deletecart/id/{$v.id}"><i class="am-icon-trash"></i></a></div>
                    </li>
                </foreach>

            </ul>
        </if>




	    
	    <div class="shop-fix">
	    	
	    <!-- 	<label class="am-checkbox am-warning">
               <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
            </label>
            <a class="del">批量删除</a> -->
            <a href="tureorder.html" class="js-btn">去结算</a>
            <div class="js-text" style="margin-top: 17px;">
            	<P>合计：<b>￥ <span class="allprice">{$allprice}</span></b></P>
                <!--<P>合计：<b>￥217.80</b></P>-->
            	<!--<p class="js-car">免费配送</p>-->
            </div>
	    </div>
	    
<!--底部-->
<include file="Common/footer" />
 
 
 
<script>
	//购物数量加减
	$(function(){
		$('.increase').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			current_num += 1;
			self.siblings('input').val(current_num);
            var nowllprice = $('.allprice').text();
            var  newaiiprice =Number(nowllprice) + Number(self.attr("data"));
            $('.allprice').html(newaiiprice);
		});
		$('.decrease').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			if(current_num > 0){
				current_num -= 1;
				self.siblings('input').val(current_num);

                nowllprice = $('.allprice').text();
                console.log(self.attr("data")	);
                newaiiprice =Number(nowllprice) - Number(self.attr("data"));
                $('.allprice').html(newaiiprice);
			}
		});

	})
</script>
<script src="__ROOT__/Public/Home/js/jquery.min.js"></script>
<script src="__ROOT__/Public/Home/js/amazeui.min.js"></script>   
	</body>
</html>
