<div style="height: 55px;"></div>
 <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">   
          <li>
            <a href="/index.php/Home/Index/index" class="curr">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
          </li>
          <li>
            <a href="/index.php/Home/Product/category" class="">
                <span class="am-icon-th-large"></span>
                <span class="am-navbar-label">分类</span>
            </a>
          </li>
       
          <li>
            <a href="/index.php/Home/Product/shopcart" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
          </li>
          <li>
            <a href="/index.php/Home/User/member" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的365</span>
            </a>
          </li>

          <if condition="$isshop eq 1">
              <li>
                  <a href="login.html" >
                      <span class="am-icon-ship"></span>
                      <span class="am-navbar-label">我的店铺</span>
                  </a>
              </li>
           <else/>
              <li>
                  <a href="/index.php/Home/Shop/shopapply" >
                      <span class="am-icon-ship"></span>
                      <span class="am-navbar-label">店铺申请</span>
                  </a>
              </li>
          </if>


      </ul>
</div>