<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>365商城 </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="__ROOT__/Public/Home/image/png" href="/theme/default/__ROOT__/Public/Home/images/favicon.png">
		<link href="__ROOT__/Public/Home/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="__ROOT__/Public/Home/css/style.css" rel="stylesheet" type="text/css" />
		<script src="__ROOT__/Public/Home/js/jquery-1.10.2.min.js"></script>
		<style>
			.am-slider-default .am-control-nav{ text-align: center;}
			.am-slider-default .am-control-nav li a.am-active{ background: #fdb325;}
			.am-slider-default .am-control-nav li a{ border: 0; width: 10px; height: 10px;}
			.imbuy{width: 70%;
				    margin: 0 auto;
				    border-radius: 15px;
				    display: block;
				    padding: 5px 0;}

			.black {font-size: 1.7rem;}
		</style>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
			<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
				<!-- <a href="step.html" class="">
					<img src="__ROOT__/Public/Home/images/step.png" width="26" style="margin-top: 1px;"/>
				</a> -->
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">{$shop_info.shopname}</a>
            </h1>
            <div class="am-header-right am-header-nav">
                <a href="step.html" class="">
					<!-- <img src="__ROOT__/Public/Home/images/step.png" width="26" style="margin-top: 1px;"/> -->
				</a>
			    <!-- <a href="" class="">
			    	<i class="am-icon-comment-o" style="font-size: 20px;"></i>
		        </a> -->
			</div>
	    </header>
	    <div style="height: 49px;"></div>
		<div class="member" style="background-image: url(__ROOT__/Public/Home/images/10d7f3f70a644ade750e0a596afb78756f.jpg);width: 100%">
	    	<div class="mem-tit"> &nbsp;&nbsp;&nbsp;&nbsp; <!-- 15078921546  -->
	    		<!-- <a href="step.html" class="step"><img src="__ROOT__/Public/Home/images/step.png" width="26"/></a> -->
	    	</div>
	    	<div class="mem-pic">
		    <!-- 	<div class="mem-pic-bg" style="background-image: url(__ROOT__/Public/Home/images/test.jpg);"></div> -->
		    	<div class="mem-pic-bg" style="border: none;background:none"></div>
		    	<!-- <a href="" class="men-level">√普通会员</a> -->
	    	</div>
	    	<ul class="member-menu">
			<li>
				<a href="#">
					<p class="black">{$sale_num}</p>
					<p class="black">在售商品 </p>
				</a>
			</li>
            <li>
				<a href="#">
					<p class="black">{$order_num}</p>
					<p class="black">订单总量 </p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="black">{$good_commits_num}</p>
					<p class="black">成交好评</p>
				</a>
			</li>
			<li>
				<a href="#">
					<p class="black">0</p>
					<p class="black">今日访问</p>
				</a>
			</li>
		</ul>
	    </div>



        <div style="background: #eee; height: 10px;"></div>
        <div class="am-tabs detail-list" data-am-tabs>
		  <ul class="am-tabs-nav am-nav am-nav-tabs">
		    <li class="am-active"><a href="#tab1">在售商品</a></li>
		    <li><a href="#tab2">店铺介绍</a></li>
		  </ul>
		
		  <div class="am-tabs-bd">
		    <div class="am-tab-panel am-fade am-in am-active detail " id="tab1" >
		           <div class="user-list">
	    	 <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-3 am-avg-md-3 am-avg-lg-4 am-gallery-default"  >
				 <foreach name="sale_list" item='v'>
			        <li>
			        <div class="am-gallery-item">
			            <a href="/index.php/Home/Product/detail/id/{$v.id}" class="">
			              <img src="{$v.pic}" />
			                <h3 class="am-gallery-title">{$v.name}</h3>
			                <div class="am-gallery-desc">￥{$v.price}</div>
			            </a>
			        </div>
			      </li>
				 </foreach>
			  </ul>	
		  
	   		 </div>
		    </div>

		    <div class="am-tab-panel am-fade detail " id="tab2">
		         <div class="comment">
		         	{$shop_info.intro}
		         </div>
		    </div>
		  </div>
		</div>
		
		             
		<!--底部-->
 <div style=" height: 55px;"></div>
<!--  <ul class="fix-shopping">
 	<li>    <input type="button" value='加入购物车' class="join imbuy" id="addcard">
 	<a href="shopcart.html" class="join">加入购物车</a></li>
 	<li>  <input type="button" value='立即购买' class="imm-buy imbuy" id="imbuys"> 
 	 <a href="tureorder.html" class="imm-buy">立即购买</a></li>
 </ul> -->
 
 <script>
	//购物数量加减
	$(function(){
		$('.increase').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			current_num += 1;
			self.siblings('input').val(current_num);
			update_item(self.siblings('input').data('item-id'));
		})		
		$('.decrease').click(function(){
			var self = $(this);
			var current_num = parseInt(self.siblings('input').val());
			if(current_num > 1){
				current_num -= 1;
				self.siblings('input').val(current_num);
				update_item(self.siblings('input').data('item-id'));
			}
		})

		$('#imbuys').click(function(){
			var current_num =   parseInt($('#num').val());
			var id          = parseInt($('#productid').val());
			window.location.href='tureorder.html?id='+id+'&current_num='+current_num;
		})

		$('#addcard').click(function(){
			var current_num =   parseInt($('#num').val());
			var id          = parseInt($('#productid').val());
			window.location.href='shopcart.html?id='+id+'&current_num='+current_num;
		})
	})
</script>
 
 
 
 
<script src="__ROOT__/Public/Home/js/jquery.min.js"></script>
<script src="__ROOT__/Public/Home/js/amazeui.min.js"></script>
	</body>
</html>
