<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>店铺申请 </title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
<!--         <link rel="icon" type="image/png" href="/theme/default/images/favicon.png"> -->
		<link href="__ROOT__/Public/Home/css/amazeui.min.css" rel="stylesheet" type="text/css" />
		<link href="__ROOT__/Public/Home/css/style.css" rel="stylesheet" type="text/css" />
		<script src="__ROOT__/Public/Home/js/jquery-1.10.2.min.js"></script>
		<script src="__ROOT__/Public/Home/js/time.js"></script>
		<style type="text/css">

		.upload input {
		    height: 100%;
		}


		</style>
	</head>
	<body>
		<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="" class="">店铺申请</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	 
	    <form action="" method="post">
	    
	     <div class="whitebar">
			         <!--  <div data-tab-panel-0 class="am-tab-panel am-active"> -->
			             <input type="text" placeholder="店铺名称" class="login-password" />
			             <input type="text" placeholder="店铺地址" class="login-name" />
			             <input type="text" placeholder="咨询电话" class="login-password" />
			             <input type="text" placeholder="营业时间" class="login-name" />
			             <input type="text" placeholder="请输入电话" class="login-password" />
			             <input type="text" placeholder="请输入电话" class="login-name" />

			              <h3 class="text-alert">营业执照，我们将审核认证</h3>
			              <ul class="upload">
			              	<li>
			              		<input type="file" name="file" value="+" />
			              	</li>
			              	<!-- <li>
			              		<input type="file" value="+" />
			              	</li> -->
			              </ul>
			 <br> <br> <br>
			 <h3 class="text-alert">店铺简介</h3>
					 <textarea placeholder="店铺简介" class="integ-text" style="height: 100px;text-align: left"></textarea>
			          </div>
			          
	    <input type="submit" class="login-btn" value="立即申请">
	</form>

		    <script src="__ROOT__/Public/Home/js/jquery.min.js"></script>
        <script src="__ROOT__/Public/Home/js/amazeui.min.js"></script>
	</body>
</html>
